
h2{
	border-bottom:2px solid #0055a2;
}
.courses-table .table-header{
	padding:20px 0 10px 0;
}
.courses-table{
	height:300px; 
	width:100%; 

}
.courses-table td{
	vertical-align:top; 
	width:30%; 
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0 10px 0;
}
.courses-table .table-course-objective-header{
	border-bottom: none;
}
.courses-table .table-course-objective{
	border-bottom: 2px solid #363636;
	
}
.course-content{
	display: list-item;
	list-style-type: circle;
	padding: 10px 0 0 10px;
}
.course-content:before{
	content: "\2022           ";
}
.course-content-header{
	padding: 20px 0 0;
}

